In [1]:
import pandas as pd
import numpy as np 
import ConeccionesSucursales as cs

In [4]:
blaster_baz = cs.query_naucalpan('baz_rpt_blasters_detallado',20210122,20210123,('^'))
blaster_baz.columns = ['server_ip','uniqueid','call_date','lead_id','list_id','list_name','campaign_id','campaign_name','status','phone_number','length_in_sec','vendor_lead_id','name_lead_id','`user`','term_reason','called_count','call_date_short','call_time_short','call_hour','call_range_hour','dialstatus','hangup_cause','sip_hangup_cause','carrier','areacode','state','region']

In [6]:
pv_blaster_baz = pd.pivot_table(blaster_baz,index=['campaign_name'],values=['uniqueid'],aggfunc='count')
# pv_blaster_baz

In [7]:
baz_range = pd.pivot_table(blaster_baz,index=['call_range_hour'],values=['uniqueid'],aggfunc='count')
baz_range

                 uniqueid
call_range_hour
07:00-08:00          8204
08:00-09:00         10225
09:00-10:00          9337
10:00-11:00          8486
11:00-12:00          8746
12:00-13:00          9356
13:00-14:00          7238
14:00-15:00          7025
15:00-16:00          7995
16:00-17:00          8068
17:00-18:00          8019
18:00-19:00          7787
19:00-20:00          5422
20:00-21:00          5376
21:00-22:00           763

In [ ]:
blaster_brad = cs.query_naucalpan('bradescard_rpt_blasters_detallado',20210122,20210123)
blaster_brad.columns = ['server_ip','lead_id','list_id','list_name','campaign_id','campaign_name','call_date','successful','length_in_sec','call_status','phone_number','vendor_lead_id','called_count_in_list_id']

In [8]:
blaster_brad = cs.query_naucalpan('blasters_rpt_detallado',20210122,20210123,(''))
# blaster_brad.columns = ['server_ip','lead_id','list_id','list_name','campaign_id','campaign_name','call_date','successful','length_in_sec','call_status','phone_number','vendor_lead_id','called_count_in_list_id']

ProgrammingError: 1318 (42000): Incorrect number of arguments for PROCEDURE procesos_externos.blasters_rpt_detallado; expected 5, got 2