In [2]:
import pandas as pd
import numpy as np
import os
from datetime import date, datetime, timedelta

In [3]:
#Definimos la ruta en donde queremos guardar los archivos
ruta = '/home/estadistico/Documents/Erick/'
mes = 20210101
mes2 = 'Enero2021'
mes3 = pd.to_datetime('01/01/2021',dayfirst=True)
fin_mes = pd.to_datetime('31/01/2021',dayfirst=True)
quetzal = 2.5
dolar = 20
belcorp_mesanterior = 29000

In [5]:
meta_guatemala = pd.read_excel(''+ruta+'Metas/Metas '+mes2+'.xlsx',sheet_name='Guatemala')
meta_guatemala = metas_guatemala[['Cliente','Meta']]

            Cliente    Meta
0            Avon G  250000
1         Arabela G    5100
2      Banco Azteca   52000
3  Banco Credomatic   17000
4           Belcorp    5000
5      Banco Azteca  115000

In [24]:
#Asignamos valores a los parametros \n"
today = date.today().strftime('%Y%m%d')
now = datetime.now().strftime('%d-%m-%Y %H-%M')
hoy = np.datetime64('today')
ayer = np.datetime64(date.today() - timedelta(1))
today2 = date.today().strftime('%d-%m-%Y')

In [11]:
book = os.listdir(''+ruta+''+mes2+'/Guatemala/Belcorp/')
asig_belcorp = pd.DataFrame()
for i in book:
    new = pd.read_excel(''+ruta+''+mes2+'/Guatemala/Belcorp/'+i+'',sheet_name='Reporte Detallado de Recuperaci')
    asig_belcorp = pd.concat([asig_belcorp,new],ignore_index=True)
asig_belcorp = asig_belcorp.drop_duplicates()
asig_belcorp['Cliente'] = 'Belcorp'

In [25]:
pagos_asig = pd.pivot_table(asig_belcorp,index='Cliente',values='Importe Deuda Recuperada',aggfunc=np.sum)
pagos_asig = pd.DataFrame(pagos_asig.to_records())
pagos_asig['Importe actual'] = pagos_asig['Importe Deuda Recuperada']-belcorp_mesanterior
pagos_asig['FechaFact'] = ayer
pagos_asig

   Cliente  Importe Deuda Recuperada  Importe actual  FechaFact
0  Belcorp                  57455.79        28455.79 2021-01-22