# Analisis Diciembre

In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime
import datetime as dt
import xlrd
from xlrd.xldate import xldate_as_tuple

In [2]:
ruta = '/home/estadistico/Documents/Erick/'
ruta_brad = '/home/estadistico/Documents/Erick/Bradesco/'
ruta_liver = '/home/estadistico/Documents/Erick/Liverpool/Pagos/'

In [116]:
pagos_c0 = pd.read_excel(''+ruta_brad+'Facturacion_c0/Facturacion c0.xlsx')
pagos_extra = pd.read_excel(''+ruta_brad+'Facturacion_extra/Facturacion extra.xlsx')
pagos_liver = pd.read_excel(''+ruta_liver+'Union pagos.xlsx')
#asign_c0 = pd.read_excel(''+ruta_brad+'Asignacion_c0/Asignacion c0.xlsx')

In [4]:
mes = 12

In [62]:
pagos_liver = pd.read_excel(''+ruta_liver+'Union pagos.xlsx')

# PAGOS C0

In [152]:
pagos_c0 = pagos_c0.drop_duplicates(subset=['PRODUCTO','TARJETA','PAGO','FECHA','PV'])
try :
    pagos_c0['FECHA'] = pagos_c0['FECHA'].apply(lambda x: datetime(*xldate_as_tuple(x, 0)))
except: pagos_c0['FECHA']
pagos_c0['MONTH'] = pagos_c0['FECHA'].dt.month
pagos_c0['YEAR'] = pagos_c0['FECHA'].dt.year
pagos_c0['DAY'] = pagos_c0['FECHA'].dt.day
pagos_c0.head(3)

,PRODUCTO,TARJETA,PAGO,FECHA,CORTE,%,%.CAMPAÑAS.ADICIONALES,COMISION.FINAL,PV,DESPACHO,MES,MONTH,YEAR,DAY
0,PLCC,2869002607825000,1542.0,2020-07-30,5,0.10,NaN,154.2,5,ENRIQUEZ,2020-07-01,7,2020,30
1,PLCC,2869002650806000,500.0,2020-07-30,10,0.10,NaN,50.0,5,ENRIQUEZ,2020-07-01,7,2020,30
2,PLCC,2869002650806000,500.0,2020-06-29,10,0.15,NaN,75.0,4,ENRIQUEZ,2020-06-01,6,2020,29

In [8]:
pagos_dic_c0 = pagos_c0.loc[pagos_c0['MONTH']==mes]
pivot_dic_c0 = pd.pivot_table(pagos_dic_c0,index=['YEAR'],columns=['PV'],values=['PAGO'],aggfunc='sum')
pivot_dic_c0 = pd.DataFrame(pivot_dic_c0.to_records())
pivot_dic_c0.columns = ['YEAR','PAGO 4','PAGO 5','PAGO 6']
pivot_dic_c0['PAGO 4'] = ['${:,.2f}'.format(x) for x in pivot_dic_c0['PAGO 4']]
pivot_dic_c0['PAGO 5'] = ['${:,.2f}'.format(x) for x in pivot_dic_c0['PAGO 5']]
pivot_dic_c0['PAGO 6'] = ['${:,.2f}'.format(x) for x in pivot_dic_c0['PAGO 6']]
pivot_dic_c0

   YEAR         PAGO 4         PAGO 5       PAGO 6
0  2017  $2,146,204.11    $956,430.77  $705,207.17
1  2018  $2,143,458.87  $1,039,008.85  $934,563.21
2  2019  $2,362,641.01  $1,239,132.42  $869,058.17

In [156]:
#Primero para pago vencido 4
pagos_4pv = pagos_c0.loc[pagos_c0['PV']==4]
pivot_4pv = pd.pivot_table(pagos_4pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_4pv = pd.DataFrame(pivot_4pv.to_records())
pivot_4pv.columns = ['PV','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_4pv.fillna(0,inplace=True)
pivot_4pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2017']]
pivot_4pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2018']]
pivot_4pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2019']]
pivot_4pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2020']]
pivot_4pv

     PV  MES  DAY    PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     4    1    1        $0.00   $1,000.00   $4,118.00  $12,668.00
1     4    1    2        $0.00  $39,207.07  $51,241.19  $71,125.10
2     4    1    3        $0.00  $53,244.42  $76,378.34  $96,773.00
3     4    1    4        $0.00  $33,417.00  $57,804.92  $78,591.20
4     4    1    5        $0.00  $56,428.00  $33,458.96  $29,512.00
..   ..  ...  ...          ...         ...         ...         ...
361   4   12   27   $36,698.00  $59,436.00  $34,865.00       $0.00
362   4   12   28   $69,428.75  $81,630.98  $39,791.00       $0.00
363   4   12   29  $131,596.00  $61,330.01  $13,586.61       $0.00
364   4   12   30   $65,437.58  $35,725.00  $87,009.50       $0.00
365   4   12   31   $19,243.00  $56,279.00  $70,329.00       $0.00

[366 rows x 7 columns]

In [158]:
#Para 5 pagos vencidos
pagos_5pv = pagos_c0.loc[pagos_c0['PV']==5]
pivot_5pv = pd.pivot_table(pagos_5pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=[np.sum])
pivot_5pv = pd.DataFrame(pivot_5pv.to_records())
pivot_5pv.columns = ['PV','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_5pv.fillna(0,inplace=True)
pivot_5pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2017']]
pivot_5pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2018']]
pivot_5pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2019']]
pivot_5pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2020']]
pivot_5pv

     PV  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     5    1    1       $0.00   $4,025.00   $4,250.00   $9,500.00
1     5    1    2       $0.00  $44,644.77  $27,198.00  $22,755.00
2     5    1    3       $0.00  $36,265.00  $29,733.11  $43,594.00
3     5    1    4       $0.00  $38,371.00  $40,332.00  $27,130.00
4     5    1    5       $0.00  $34,147.00  $36,668.00  $25,087.00
..   ..  ...  ...         ...         ...         ...         ...
361   5   12   27  $29,366.00   $7,280.00  $24,473.00       $0.00
362   5   12   28  $20,253.00  $11,745.90  $17,634.00       $0.00
363   5   12   29  $62,694.52  $13,009.00  $15,634.00       $0.00
364   5   12   30  $42,681.00  $22,647.00  $44,295.00       $0.00
365   5   12   31   $5,969.00  $38,421.00  $30,016.00       $0.00

[366 rows x 7 columns]

In [160]:
#Para 6 pagos vencidos
pagos_6pv = pagos_c0.loc[pagos_c0['PV']==6]
pivot_6pv = pd.pivot_table(pagos_6pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_6pv = pd.DataFrame(pivot_6pv.to_records())
pivot_6pv.columns = ['PV','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_6pv.fillna(0,inplace=True)
pivot_6pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2017']]
pivot_6pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2018']]
pivot_6pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2019']]
pivot_6pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2020']]
pivot_6pv

     PV  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     6    1    1       $0.00       $0.00   $3,590.00       $0.00
1     6    1    2       $0.00   $4,715.00   $9,531.00  $32,899.50
2     6    1    3       $0.00  $19,884.00  $20,635.00  $25,503.00
3     6    1    4       $0.00  $25,630.00  $14,590.00   $9,127.00
4     6    1    5       $0.00  $12,805.00  $13,381.00   $6,094.00
..   ..  ...  ...         ...         ...         ...         ...
361   6   12   27  $10,073.00   $5,296.00  $18,567.00       $0.00
362   6   12   28  $13,258.00  $14,861.00   $8,209.00       $0.00
363   6   12   29  $39,908.00  $14,422.00   $9,713.00       $0.00
364   6   12   30  $26,989.00  $21,375.00  $39,491.00       $0.00
365   6   12   31   $8,485.00  $61,310.00  $26,152.00       $0.00

[366 rows x 7 columns]

# PAGOS EXTRAJUDICIAL

In [125]:
pagos_extra2 = pagos_extra
try:
    pagos_extra2['FECHA'] = pd.to_datetime(pagos_extra2['FECHA'], errors='coerce')
except: pagos_extra2
pagos_extra2['MONTH'] = pagos_extra2['FECHA'].dt.month
pagos_extra2.head(3)

,PRODUCTO,TARJETA,PAGO,FECHA,PORCENTAJE,COMISION,BUCKET,DESPACHO,MES,MONTH
0,PLCC,2869002894907000,218.0,2020-09-02,0.24,52.32,C3,ENRIQUEZ,2020-09-01,9.0
1,PLCC,2869002894907000,218.0,2020-09-15,0.24,52.32,C3,ENRIQUEZ,2020-09-01,9.0
2,PLCC,2869005589569000,550.0,2020-09-30,0.22,121.00,C2,ENRIQUEZ,2020-09-01,9.0

In [132]:
pagos_extra = pagos_extra.drop_duplicates(subset=['PRODUCTO','TARJETA','PAGO','FECHA','BUCKET'])
try: pagos_extra['FECHA'] = pd.to_datetime(pagos_extra['FECHA'],errors='coerce')
except: pagos_extra
pagos_extra['MONTH'] = pagos_extra['FECHA'].dt.month
pagos_extra['YEAR'] = pagos_extra['FECHA'].dt.year
pagos_extra['DAY'] = pagos_extra['FECHA'].dt.day
pagos_extra.fillna(0,inplace=True)
pagos_extra[['YEAR','MONTH','DAY']] = pagos_extra[['YEAR','MONTH','DAY']].astype('int')
pagos_extra.head(3)

,PRODUCTO,TARJETA,PAGO,FECHA,PORCENTAJE,COMISION,BUCKET,DESPACHO,MES,MONTH,YEAR,DAY
0,PLCC,2869002894907000,218.0,2020-09-02 00:00:00,0.24,52.32,C3,ENRIQUEZ,2020-09-01,9,2020,2
1,PLCC,2869002894907000,218.0,2020-09-15 00:00:00,0.24,52.32,C3,ENRIQUEZ,2020-09-01,9,2020,15
2,PLCC,2869005589569000,550.0,2020-09-30 00:00:00,0.22,121.00,C2,ENRIQUEZ,2020-09-01,9,2020,30

In [14]:
#Obtenemos los datos diciembre
pagos_dic_extra = pagos_extra.loc[pagos_extra['MONTH']==mes]
pivot_dic_extra = pd.pivot_table(pagos_dic_extra,index=['YEAR'],columns=['BUCKET'],values=['PAGO'],aggfunc='sum')
pivot_dic_extra = pd.DataFrame(pivot_dic_extra.to_records())
pivot_dic_extra.columns = ['YEAR','PAGO A','PAGO B','PAGO C1','PAGO C2','PAGO C3','PAGO C4']
pivot_dic_extra['PAGO A'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO A']]
pivot_dic_extra['PAGO B'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO B']]
pivot_dic_extra['PAGO C1'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C1']]
pivot_dic_extra['PAGO C2'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C2']]
pivot_dic_extra['PAGO C3'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C3']]
pivot_dic_extra['PAGO C4'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C4']]
pivot_dic_extra

,YEAR,PAGO A,PAGO B,PAGO C1,PAGO C2,PAGO C3,PAGO C4
0,2017,"$178,496.30","$57,094.00","$1,108,428.66","$695,648.26","$427,434.00","$207,168.73"
1,2018,"$194,681.17","$46,014.78","$1,023,959.02","$529,237.18","$299,098.91","$188,121.00"
2,2019,"$189,219.62","$40,870.00","$1,039,351.74","$589,183.46","$216,154.00","$104,367.00"

In [144]:
#Para bucket A
pagos_bucket_a = pagos_extra.loc[pagos_extra['BUCKET']=='A']
pivot_bucket_a = pd.pivot_table(pagos_bucket_a,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_a = pd.DataFrame(pivot_bucket_a.to_records())
pivot_bucket_a = pivot_bucket_a.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_a.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_a.fillna(0,inplace=True)
pivot_bucket_a['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2017']]
pivot_bucket_a['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2018']]
pivot_bucket_a['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2019']]
pivot_bucket_a['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2020']]
pivot_bucket_a

    BUCKET  MES  DAY  PAGO 2017   PAGO 2018   PAGO 2019  PAGO 2020
0        A    0    0      $0.00       $0.00       $0.00      $0.00
1        A    1    3      $0.00   $9,469.00       $0.00      $0.00
2        A    1    4      $0.00   $7,681.00       $0.00  $7,450.00
3        A    1    5      $0.00   $6,502.19       $0.00      $0.00
4        A    1    6      $0.00  $10,209.00       $0.00      $0.00
..     ...  ...  ...        ...         ...         ...        ...
348      A   12   27  $2,000.00  $11,349.00   $5,581.00      $0.00
349      A   12   28      $0.00  $38,000.00   $9,987.13      $0.00
350      A   12   29  $8,699.00   $2,902.00       $0.00      $0.00
351      A   12   30      $0.00     $817.00  $14,709.00      $0.00
352      A   12   31  $5,000.00   $1,281.00   $1,500.00      $0.00

[353 rows x 7 columns]

In [143]:
#Para bucket B
pagos_bucket_b = pagos_extra.loc[pagos_extra['BUCKET']=='B']
pivot_bucket_b = pd.pivot_table(pagos_bucket_b,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_b = pd.DataFrame(pivot_bucket_b.to_records())
pivot_bucket_b = pivot_bucket_b.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_b.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_b.fillna(0,inplace=True)
pivot_bucket_b['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2017']]
pivot_bucket_b['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2018']]
pivot_bucket_b['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2019']]
pivot_bucket_b['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2020']]
pivot_bucket_b

    BUCKET  MES  DAY  PAGO 2017  PAGO 2018  PAGO 2019  PAGO 2020
0        B    0    0      $0.00      $0.00      $0.00      $0.00
1        B    1    3      $0.00  $4,889.00      $0.00      $0.00
2        B    1    4      $0.00    $200.00      $0.00      $0.00
3        B    1    5      $0.00  $1,000.00      $0.00      $0.00
4        B    1   10      $0.00  $2,750.00      $0.00  $2,500.00
..     ...  ...  ...        ...        ...        ...        ...
317      B   12   24      $0.00  $7,805.78  $1,600.00      $0.00
318      B   12   27      $0.00    $500.00      $0.00      $0.00
319      B   12   28      $0.00  $3,065.00      $0.00      $0.00
320      B   12   29  $2,000.00      $0.00      $0.00      $0.00
321      B   12   30  $3,694.00      $0.00      $0.00      $0.00

[322 rows x 7 columns]

In [146]:
#Para bucket c1
pagos_bucket_c1 = pagos_extra.loc[pagos_extra['BUCKET']=='C1']
pivot_bucket_c1 = pd.pivot_table(pagos_bucket_c1,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c1 = pd.DataFrame(pivot_bucket_c1.to_records())
pivot_bucket_c1 = pivot_bucket_c1.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_c1.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c1.fillna(0,inplace=True)
pivot_bucket_c1['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2017']]
pivot_bucket_c1['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2018']]
pivot_bucket_c1['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2019']]
pivot_bucket_c1['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2020']]
pivot_bucket_c1

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C1    0    0       $0.00       $0.00       $0.00       $0.00
1       C1    1    1       $0.00   $3,072.00       $0.00     $300.00
2       C1    1    2       $0.00  $48,648.00       $0.00   $7,983.00
3       C1    1    3       $0.00  $15,951.00       $0.00  $13,715.00
4       C1    1    4       $0.00  $16,067.00       $0.00   $5,185.00
..     ...  ...  ...         ...         ...         ...         ...
362     C1   12   27  $17,768.00   $8,866.00  $12,080.00       $0.00
363     C1   12   28  $39,580.00  $18,842.00  $14,972.00       $0.00
364     C1   12   29  $83,120.00  $33,254.00   $8,078.00       $0.00
365     C1   12   30  $68,724.00  $15,253.00  $46,002.00       $0.00
366     C1   12   31   $5,829.00  $20,916.00  $30,611.00       $0.00

[367 rows x 7 columns]

In [147]:
#Para bucket c2
pagos_bucket_c2 = pagos_extra.loc[pagos_extra['BUCKET']=='C2']
pivot_bucket_c2 = pd.pivot_table(pagos_bucket_c2,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c2 = pd.DataFrame(pivot_bucket_c2.to_records())
pivot_bucket_c2 = pivot_bucket_c2.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_c2.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c2.fillna(0,inplace=True)
pivot_bucket_c2['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2017']]
pivot_bucket_c2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2018']]
pivot_bucket_c2['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2019']]
pivot_bucket_c2['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2020']]
pivot_bucket_c2

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C2    0    0       $0.00       $0.00       $0.00       $0.00
1       C2    1    2       $0.00  $13,785.00       $0.00   $2,300.00
2       C2    1    3       $0.00  $11,735.00       $0.00  $30,450.00
3       C2    1    4       $0.00   $6,566.00       $0.00   $8,331.59
4       C2    1    5       $0.00  $15,517.00       $0.00   $1,539.00
..     ...  ...  ...         ...         ...         ...         ...
361     C2   12   27  $30,536.00   $9,511.00   $7,300.00       $0.00
362     C2   12   28  $23,965.00  $17,592.00   $4,276.00       $0.00
363     C2   12   29  $52,520.98  $11,463.00   $2,000.00       $0.00
364     C2   12   30  $61,619.92  $15,286.00  $23,685.00       $0.00
365     C2   12   31   $4,206.00  $37,221.00  $26,450.00       $0.00

[366 rows x 7 columns]

In [148]:
#Para bucket c3
pagos_bucket_c3 = pagos_extra.loc[pagos_extra['BUCKET']=='C3']
pivot_bucket_c3 = pd.pivot_table(pagos_bucket_c3,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c3 = pd.DataFrame(pivot_bucket_c3.to_records())
pivot_bucket_c3 = pivot_bucket_c3.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_c3.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c3.fillna(0,inplace=True)
pivot_bucket_c3['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2017']]
pivot_bucket_c3['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2018']]
pivot_bucket_c3['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2019']]
pivot_bucket_c3['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2020']]
pivot_bucket_c3

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C3    0    0       $0.00       $0.00       $0.00       $0.00
1       C3    1    2       $0.00  $17,423.00       $0.00   $1,530.00
2       C3    1    3       $0.00  $11,602.00       $0.00  $13,146.00
3       C3    1    4       $0.00   $1,143.00       $0.00   $2,614.00
4       C3    1    5       $0.00  $13,333.00       $0.00       $0.00
..     ...  ...  ...         ...         ...         ...         ...
361     C3   12   27   $1,982.00  $11,401.91     $877.00       $0.00
362     C3   12   28  $31,233.00   $5,029.00       $0.00       $0.00
363     C3   12   29  $26,164.00  $16,200.00       $0.00       $0.00
364     C3   12   30  $12,940.00  $11,911.00  $11,206.00       $0.00
365     C3   12   31       $0.00   $9,588.00   $8,547.00       $0.00

[366 rows x 7 columns]

In [149]:
#Para bucket c4
pagos_bucket_c4 = pagos_extra.loc[pagos_extra['BUCKET']=='C4']
pivot_bucket_c4 = pd.pivot_table(pagos_bucket_c4,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c4 = pd.DataFrame(pivot_bucket_c4.to_records())
pivot_bucket_c4 = pivot_bucket_c4.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_c4.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c4.fillna(0,inplace=True)
pivot_bucket_c4['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2017']]
pivot_bucket_c4['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2018']]
pivot_bucket_c4['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2019']]
pivot_bucket_c4['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2020']]
pivot_bucket_c4

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018  PAGO 2019  PAGO 2020
0       C4    0    0       $0.00       $0.00      $0.00      $0.00
1       C4    1    1       $0.00       $0.00      $0.00    $529.00
2       C4    1    2       $0.00   $3,016.00      $0.00  $6,475.00
3       C4    1    3       $0.00   $1,320.00      $0.00  $2,635.00
4       C4    1    4       $0.00   $4,755.00      $0.00  $1,000.00
..     ...  ...  ...         ...         ...        ...        ...
357     C4   12   27   $1,548.00   $4,010.00  $4,948.00      $0.00
358     C4   12   28  $17,264.00  $12,675.00      $0.00      $0.00
359     C4   12   29  $21,886.00   $7,852.00  $5,339.00      $0.00
360     C4   12   30  $12,982.00   $7,951.00  $4,090.00      $0.00
361     C4   12   31       $0.00   $7,624.00  $1,572.00      $0.00

[362 rows x 7 columns]

In [162]:
writer = pd.ExcelWriter(''+ruta+'/Reporte pagos Bradesco Dic.xlsx', engine='xlsxwriter')
pivot_dic_c0.to_excel(writer,'C0 Dic',index=False,header=True)
pivot_4pv.to_excel(writer,'4PV',index=False,header=True)
pivot_5pv.to_excel(writer,'5PV',index=False,header=True)
pivot_6pv.to_excel(writer,'6PV',index=False,header=True)
pivot_dic_extra.to_excel(writer,'ExtraDic',index=False,header=True)
pivot_bucket_a.to_excel(writer,'A',index=False,header=True)
pivot_bucket_b.to_excel(writer,'B',index=False,header=True)
pivot_bucket_c1.to_excel(writer,'C1',index=False,header=True)
pivot_bucket_c2.to_excel(writer,'C2',index=False,header=True)
pivot_bucket_c3.to_excel(writer,'C3',index=False,header=True)
pivot_bucket_c4.to_excel(writer,'C4',index=False,header=True)

writer.save()
writer.close()

# Pagos Liverpool

In [163]:
pagos_liver['Fecha pago'] = pd.to_datetime(pagos_liver['Fecha pago'],dayfirst=True)
pagos_liver['Month'] = pagos_liver['Fecha pago'].dt.month
pagos_liver['Year'] = pagos_liver['Fecha pago'].dt.year
pagos_liver['Day'] = pagos_liver['Fecha pago'].dt.day
pagos_liver.head(3)

,Cuenta,Fecha pago,Fecha Posteo,monto,Descripcion,Division,Month,Year,Day
0,0004178490000277468,2020-01-02,02/01/2020,500.0,5200000000008917,N2,1,2020,2
1,0000013000020401514,2020-01-02,02/01/2020,3376.0,005200000000007275,N2,1,2020,2
2,0000033000008868151,2020-01-02,02/01/2020,14000.0,005200000000005261,N2,1,2020,2

In [166]:
#Para COF
pagos_cof = pagos_liver.loc[pagos_liver['Division']=='COF']
pivot_cof = pd.pivot_table(pagos_cof,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_cof = pd.DataFrame(pivot_cof.to_records())
pivot_cof.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_cof.fillna(0,inplace=True)
#pivot_cof['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2017']]
#pivot_cof['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2018']]
#pivot_cof['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2019']]
pivot_cof['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2020']]
pivot_cof

   DIVISION  MES  DIA   PAGO 2020
0       COF    6   18   $5,900.00
1       COF    7    1   $1,600.00
2       COF    7    2  $11,600.00
3       COF    7    6     $500.00
4       COF    7    7   $4,591.00
..      ...  ...  ...         ...
95      COF   10   26   $2,868.50
96      COF   10   27  $10,594.00
97      COF   10   28  $33,445.77
98      COF   10   29  $24,791.00
99      COF   10   30  $38,741.00

[100 rows x 4 columns]

In [170]:
#Para pren N2
pagos_n2 = pagos_liver.loc[pagos_liver['Division']=='N2']
pivot_n2 = pd.pivot_table(pagos_n2,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_n2 = pd.DataFrame(pivot_n2.to_records())
pivot_n2.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_n2.fillna(0,inplace=True)
#pivot_n2['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_n2['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2019']]
pivot_n2['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2020']]
pivot_n2

    DIVISION  MES  DIA    PAGO 2020
0         N2    1    2   $24,796.00
1         N2    1    3   $24,399.00
2         N2    1    4   $11,383.00
3         N2    1    6    $2,000.00
4         N2    1    7   $10,283.00
..       ...  ...  ...          ...
287       N2   10   26   $21,513.50
288       N2   10   27   $76,280.00
289       N2   10   28   $61,644.00
290       N2   10   29   $54,036.00
291       N2   10   30  $135,036.00

[292 rows x 4 columns]

In [171]:
#Para pren PREN
pagos_pren = pagos_liver.loc[pagos_liver['Division']=='PREN']
pivot_pren = pd.pivot_table(pagos_pren,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_pren = pd.DataFrame(pivot_pren.to_records())
pivot_pren.columns = ['DIVISION','MES','DIA','PAGO 2019','PAGO 2020']
pivot_pren.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_pren['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2020']]
pivot_pren

    DIVISION  MES  DIA   PAGO 2019   PAGO 2020
0       PREN    1    2       $0.00  $24,332.00
1       PREN    1    3       $0.00  $15,616.43
2       PREN    1    4       $0.00  $18,621.00
3       PREN    1    5       $0.00   $5,447.00
4       PREN    1    6       $0.00  $62,202.00
..       ...  ...  ...         ...         ...
303     PREN   11    8       $0.00   $5,711.00
304     PREN   11    9       $0.00  $61,100.00
305     PREN   11   10       $0.00   $3,000.00
306     PREN   11   11       $0.00  $48,262.00
307     PREN   12   31  $28,599.00       $0.00

[308 rows x 5 columns]

In [172]:
#Para pren PREN
pagos_sub = pagos_liver.loc[pagos_liver['Division']=='SUB']
pivot_sub = pd.pivot_table(pagos_sub,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_sub = pd.DataFrame(pivot_sub.to_records())
pivot_sub.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_sub.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_sub['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_sub['PAGO 2020']]
pivot_sub

    DIVISION  MES  DIA   PAGO 2020
0        SUB    1    1   $1,055.00
1        SUB    1    2  $23,304.00
2        SUB    1    3  $13,257.00
3        SUB    1    4   $7,843.00
4        SUB    1    5   $6,997.00
..       ...  ...  ...         ...
279      SUB   10   26   $6,360.00
280      SUB   10   27  $20,460.34
281      SUB   10   28  $29,563.00
282      SUB   10   29   $7,410.00
283      SUB   10   30  $30,944.00

[284 rows x 4 columns]

In [173]:
#Para pren PREN
pagos_subdic = pagos_liver.loc[pagos_liver['Division']=='SUBDIC']
pivot_subdic = pd.pivot_table(pagos_subdic,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_subdic = pd.DataFrame(pivot_subdic.to_records())
pivot_subdic.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_subdic.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_subdic['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_subdic['PAGO 2020']]
pivot_subdic

   DIVISION  MES  DIA  PAGO 2020
0    SUBDIC    1    3  $3,600.00
1    SUBDIC    1    4  $3,526.22
2    SUBDIC    1    5  $3,319.00
3    SUBDIC    1   21  $2,000.00
4    SUBDIC    1   22  $4,374.00
..      ...  ...  ...        ...
81   SUBDIC   10   19  $2,000.00
82   SUBDIC   10   20  $1,000.00
83   SUBDIC   10   23  $3,081.00
84   SUBDIC   10   29    $500.00
85   SUBDIC   10   30  $7,963.00

[86 rows x 4 columns]

In [175]:
writer = pd.ExcelWriter(''+ruta+'Reporte pagos Liverpool Dic.xlsx', engine='xlsxwriter')
pivot_cof.to_excel(writer,'COF',index=False,header=True)
pivot_n2.to_excel(writer,'N2',index=False,header=True)
pivot_pren.to_excel(writer,'PREN',index=False,header=True)
pivot_sub.to_excel(writer,'SUB',index=False,header=True)
pivot_subdic.to_excel(writer,'SUBDIC',index=False,header=True)

writer.save()
writer.close()