# Analisis Diciembre

In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime
import datetime as dt
import xlrd
from xlrd.xldate import xldate_as_tuple

In [2]:
ruta = '/home/estadistico/Documents/Erick/'
ruta_brad = '/home/estadistico/Documents/Erick/Bradesco/'
ruta_liver = '/home/estadistico/Documents/Erick/Liverpool/Pagos/'
mes = 1
mes2 = 'Enero'

In [3]:
pc0 = os.listdir(''+ruta_brad+'Facturacion_c0/')
pagos_c0 = pd.DataFrame()
for i in pc0:
    pagos_c0_new = pd.read_excel(''+ruta_brad+'Facturacion_c0/'+i+'',converters={'TARJETA':str})
    pagos_c0 = pd.concat([pagos_c0,pagos_c0_new],ignore_index=True)
    pagos_c0 = pagos_c0.drop_duplicates()
pagos_c0 = pd.pivot_table(pagos_c0,index=['PRODUCTO','TARJETA','FECHA','PV','%'],values=['PAGO','COMISION.FINAL'],aggfunc=np.sum)
pagos_c0 = pd.DataFrame(pagos_c0.to_records())

In [4]:
pextra = os.listdir(''+ruta_brad+'Facturacion_extra/')
pagos_extra = pd.DataFrame()
for i in pextra:
    pagos_extra_new = pd.read_excel(''+ruta_brad+'Facturacion_extra/'+i+'',converters={'TARJETA':str})
    pagos_extra = pd.concat([pagos_extra,pagos_extra_new],ignore_index=True)
    pagos_extra = pagos_extra.drop_duplicates()
pagos_extra = pd.pivot_table(pagos_extra,index=['PRODUCTO','TARJETA','FECHA','BUCKET','PORCENTAJE'],values=['PAGO','COMISION'],aggfunc=np.sum)
pagos_extra = pd.DataFrame(pagos_extra.to_records())
pagos_extra.head(3)

,PRODUCTO,TARJETA,FECHA,BUCKET,PORCENTAJE,COMISION,PAGO
0,BC,0004463510011431000,2020-03-10,C1,0.17,51.00,300.0
1,BC,0004463510011431000,2020-03-15,C1,0.17,17.00,100.0
2,BC,0004463510011431000,2020-03-31,C1,0.17,383.35,2255.0

In [5]:
ac0 = os.listdir(''+ruta_brad+'Facturacion_extra/')
asignacion_c0 = pd.DataFrame()
for i in ac0:

In [6]:
# pagos_liver = pd.read_excel(''+ruta_liver+'Union pagos.xlsx')

# PAGOS C0

In [7]:
pagos_c0 = pagos_c0.drop_duplicates(subset=['PRODUCTO','TARJETA','PAGO','FECHA','PV'])
pagos_c0['MONTH'] = pagos_c0['FECHA'].dt.month
pagos_c0['YEAR'] = pagos_c0['FECHA'].dt.year
pagos_c0['DAY'] = pagos_c0['FECHA'].dt.day
pagos_c0.head(3)

,PRODUCTO,TARJETA,FECHA,PV,%,COMISION.FINAL,PAGO,MONTH,YEAR,DAY
0,AURRERA VISA,0004812830001473000,2020-12-20,4,0.08,160.00,2000.0,12,2020,20
1,AURRERA VISA,0004812830002343000,2020-10-29,4,0.07,244.16,3488.0,10,2020,29
2,AURRERA VISA,0004812830003103000,2020-11-15,6,0.10,131.60,1316.0,11,2020,15

In [8]:
pagos_mes_c0 = pagos_c0.loc[pagos_c0['MONTH']==mes]
pivot_mes_c0 = pd.pivot_table(pagos_mes_c0,index=['YEAR'],columns=['PV'],values=['PAGO'],aggfunc='sum')
pivot_mes_c0 = pd.DataFrame(pivot_mes_c0.to_records())
pivot_mes_c0.columns = ['YEAR','PAGOV 4','PAGOV 5','PAGOV 6']
pivot_mes_c0['PAGOV 4'] = ['${:,.2f}'.format(x) for x in pivot_mes_c0['PAGOV 4']]
pivot_mes_c0['PAGOV 5'] = ['${:,.2f}'.format(x) for x in pivot_mes_c0['PAGOV 5']]
pivot_mes_c0['PAGOV 6'] = ['${:,.2f}'.format(x) for x in pivot_mes_c0['PAGOV 6']]
pivot_mes_c0

   YEAR        PAGOV 4        PAGOV 5      PAGOV 6
0  2018  $1,459,867.96    $873,014.94  $554,374.00
1  2019  $2,008,256.64  $1,000,617.83  $669,227.72
2  2020  $2,106,093.44    $758,547.24  $669,809.61

In [9]:
#Primero para pago vencido 4
pagos_4pv = pagos_c0.loc[pagos_c0['PV']==4]
pivot_4pv = pd.pivot_table(pagos_4pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_4pv = pd.DataFrame(pivot_4pv.to_records())
pivot_4pv.columns = ['PV','MES','DIA','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_4pv.fillna(0,inplace=True)
pivot_4pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2017']]
pivot_4pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2018']]
pivot_4pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2019']]
pivot_4pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_4pv['PAGO 2020']]
pivot_4pv

     PV  MES  DIA    PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     4    1    1        $0.00   $1,000.00   $4,118.00  $12,668.00
1     4    1    2        $0.00  $39,207.07  $51,241.19  $71,125.10
2     4    1    3        $0.00  $53,244.42  $76,378.34  $96,773.00
3     4    1    4        $0.00  $33,417.00  $57,804.92  $78,591.20
4     4    1    5        $0.00  $56,428.00  $33,458.96  $29,512.00
..   ..  ...  ...          ...         ...         ...         ...
361   4   12   27   $36,698.00  $59,436.00  $34,865.00   $6,349.00
362   4   12   28   $69,428.75  $81,630.98  $39,791.00  $22,000.00
363   4   12   29  $131,596.00  $61,330.01  $13,586.61  $20,399.00
364   4   12   30   $65,437.58  $35,725.00  $87,009.50  $42,091.00
365   4   12   31   $19,243.00  $56,279.00  $70,329.00  $20,564.94

[366 rows x 7 columns]

In [10]:
#Para 5 pagos vencidos
pagos_5pv = pagos_c0.loc[pagos_c0['PV']==5]
pivot_5pv = pd.pivot_table(pagos_5pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=[np.sum])
pivot_5pv = pd.DataFrame(pivot_5pv.to_records())
pivot_5pv.columns = ['PV','MES','DIA','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_5pv.fillna(0,inplace=True)
pivot_5pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2017']]
pivot_5pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2018']]
pivot_5pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2019']]
pivot_5pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_5pv['PAGO 2020']]
pivot_5pv

     PV  MES  DIA   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     5    1    1       $0.00   $4,025.00   $4,250.00   $9,500.00
1     5    1    2       $0.00  $44,644.77  $27,198.00  $22,755.00
2     5    1    3       $0.00  $36,265.00  $29,733.11  $43,594.00
3     5    1    4       $0.00  $38,371.00  $40,332.00  $27,130.00
4     5    1    5       $0.00  $34,147.00  $36,668.00  $25,087.00
..   ..  ...  ...         ...         ...         ...         ...
361   5   12   27  $29,366.00   $7,280.00  $24,473.00  $10,033.00
362   5   12   28  $20,253.00  $11,745.90  $17,634.00   $5,850.56
363   5   12   29  $62,694.52  $13,009.00  $15,634.00  $13,057.00
364   5   12   30  $42,681.00  $22,647.00  $44,295.00  $25,898.00
365   5   12   31   $5,969.00  $38,421.00  $30,016.00  $13,118.00

[366 rows x 7 columns]

In [11]:
#Para 6 pagos vencidos
pagos_6pv = pagos_c0.loc[pagos_c0['PV']==6]
pivot_6pv = pd.pivot_table(pagos_6pv,index=['PV','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_6pv = pd.DataFrame(pivot_6pv.to_records())
pivot_6pv.columns = ['PV','MES','DIA','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_6pv.fillna(0,inplace=True)
pivot_6pv['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2017']]
pivot_6pv['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2018']]
pivot_6pv['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2019']]
pivot_6pv['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_6pv['PAGO 2020']]
pivot_6pv

     PV  MES  DIA   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0     6    1    1       $0.00       $0.00   $3,590.00       $0.00
1     6    1    2       $0.00   $4,715.00   $9,531.00  $32,899.50
2     6    1    3       $0.00  $19,884.00  $20,635.00  $25,503.00
3     6    1    4       $0.00  $25,630.00  $14,590.00   $9,127.00
4     6    1    5       $0.00  $12,805.00  $13,381.00   $6,094.00
..   ..  ...  ...         ...         ...         ...         ...
361   6   12   27  $10,073.00   $5,296.00  $18,567.00   $4,932.00
362   6   12   28  $13,258.00  $14,861.00   $8,209.00   $6,901.00
363   6   12   29  $39,908.00  $14,422.00   $9,713.00  $11,874.00
364   6   12   30  $26,989.00  $21,375.00  $39,491.00   $9,704.00
365   6   12   31   $8,485.00  $61,310.00  $26,152.00   $4,582.00

[366 rows x 7 columns]

# PAGOS EXTRAJUDICIAL

In [12]:
pagos_extra = pagos_extra.drop_duplicates(subset=['PRODUCTO','TARJETA','PAGO','FECHA','BUCKET'])
pagos_extra['BUCKET'] = pagos_extra['BUCKET'].str.upper()
pagos_extra['MONTH'] = pagos_extra['FECHA'].dt.month
pagos_extra['YEAR'] = pagos_extra['FECHA'].dt.year
pagos_extra['DAY'] = pagos_extra['FECHA'].dt.day
pagos_extra.fillna(0,inplace=True)
pagos_extra[['YEAR','MONTH','DAY']] = pagos_extra[['YEAR','MONTH','DAY']].astype('int')
pagos_extra.head(3)

,PRODUCTO,TARJETA,FECHA,BUCKET,PORCENTAJE,COMISION,PAGO,MONTH,YEAR,DAY
0,BC,0004463510011431000,2020-03-10,C1,0.17,51.00,300.0,3,2020,10
1,BC,0004463510011431000,2020-03-15,C1,0.17,17.00,100.0,3,2020,15
2,BC,0004463510011431000,2020-03-31,C1,0.17,383.35,2255.0,3,2020,31

In [13]:
#Obtenemos los datos diciembre
pagos_dic_extra = pagos_extra.loc[pagos_extra['MONTH']==mes]
pivot_dic_extra = pd.pivot_table(pagos_dic_extra,index=['YEAR'],columns=['BUCKET'],values=['PAGO'],aggfunc='sum')
pivot_dic_extra = pd.DataFrame(pivot_dic_extra.to_records())
pivot_dic_extra.columns = ['YEAR','PAGO A','PAGO B','PAGO C1','PAGO C2','PAGO C3','PAGO C4']
pivot_dic_extra['PAGO A'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO A']]
pivot_dic_extra['PAGO B'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO B']]
pivot_dic_extra['PAGO C1'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C1']]
pivot_dic_extra['PAGO C2'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C2']]
pivot_dic_extra['PAGO C3'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C3']]
pivot_dic_extra['PAGO C4'] = ['${:,.2f}'.format(x) for x in pivot_dic_extra['PAGO C4']]
pivot_dic_extra

,YEAR,PAGO A,PAGO B,PAGO C1,PAGO C2,PAGO C3,PAGO C4
0,2018,"$151,288.15","$62,329.00","$805,136.95","$494,694.26","$291,613.70","$133,785.00"
1,2019,"$145,749.00","$45,856.73","$833,877.61","$342,965.00","$210,416.00","$85,090.00"
2,2020,"$173,748.82","$27,925.13","$652,952.95","$536,098.14","$183,528.04","$132,856.00"

In [14]:
pivot_mes = pd.merge(pivot_mes_c0,pivot_dic_extra,on='YEAR',how='left')
pivot_mes

,YEAR,PAGOV 4,PAGOV 5,PAGOV 6,PAGO A,PAGO B,PAGO C1,PAGO C2,PAGO C3,PAGO C4
0,2018,"$1,459,867.96","$873,014.94","$554,374.00","$151,288.15","$62,329.00","$805,136.95","$494,694.26","$291,613.70","$133,785.00"
1,2019,"$2,008,256.64","$1,000,617.83","$669,227.72","$145,749.00","$45,856.73","$833,877.61","$342,965.00","$210,416.00","$85,090.00"
2,2020,"$2,106,093.44","$758,547.24","$669,809.61","$173,748.82","$27,925.13","$652,952.95","$536,098.14","$183,528.04","$132,856.00"

In [15]:
#Para bucket A
pagos_bucket_a = pagos_extra.loc[pagos_extra['BUCKET']=='A']
pivot_bucket_a = pd.pivot_table(pagos_bucket_a,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_a = pd.DataFrame(pivot_bucket_a.to_records())
pivot_bucket_a.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_a.fillna(0,inplace=True)
pivot_bucket_a['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2017']]
pivot_bucket_a['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2018']]
pivot_bucket_a['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2019']]
pivot_bucket_a['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_a['PAGO 2020']]
pivot_bucket_a

    BUCKET  MES  DAY  PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0        A    1    3      $0.00   $9,469.00       $0.00       $0.00
1        A    1    4      $0.00   $7,681.00   $2,798.00   $7,450.00
2        A    1    5      $0.00   $6,502.19   $2,630.00       $0.00
3        A    1    6      $0.00  $10,209.00       $0.00       $0.00
4        A    1    7      $0.00       $0.00       $0.00   $1,506.10
..     ...  ...  ...        ...         ...         ...         ...
348      A   12   27  $2,000.00  $11,349.00   $5,581.00     $310.00
349      A   12   28      $0.00  $38,000.00   $9,987.13   $6,302.74
350      A   12   29  $8,699.00   $2,902.00       $0.00     $292.00
351      A   12   30      $0.00     $817.00  $14,709.00   $1,721.54
352      A   12   31  $5,000.00   $1,281.00   $1,500.00  $28,847.80

[353 rows x 7 columns]

In [16]:
#Para bucket B
pagos_bucket_b = pagos_extra.loc[pagos_extra['BUCKET']=='B']
pivot_bucket_b = pd.pivot_table(pagos_bucket_b,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_b = pd.DataFrame(pivot_bucket_b.to_records())
# pivot_bucket_b = pivot_bucket_b.iloc[:,[0,1,2,4,5,6,7]]
pivot_bucket_b.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_b.fillna(0,inplace=True)
pivot_bucket_b['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2017']]
pivot_bucket_b['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2018']]
pivot_bucket_b['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2019']]
pivot_bucket_b['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_b['PAGO 2020']]
pivot_bucket_b

    BUCKET  MES  DAY  PAGO 2017  PAGO 2018  PAGO 2019  PAGO 2020
0        B    1    3      $0.00  $4,889.00  $2,000.00      $0.00
1        B    1    4      $0.00    $200.00  $7,948.00      $0.00
2        B    1    5      $0.00  $1,000.00    $700.00      $0.00
3        B    1    8      $0.00      $0.00  $2,800.00      $0.00
4        B    1   10      $0.00  $2,750.00      $0.00  $2,500.00
..     ...  ...  ...        ...        ...        ...        ...
320      B   12   24      $0.00  $7,805.78  $1,600.00  $7,156.00
321      B   12   27      $0.00    $500.00      $0.00      $0.00
322      B   12   28      $0.00  $3,065.00      $0.00      $0.00
323      B   12   29  $2,000.00      $0.00      $0.00      $0.00
324      B   12   30  $3,694.00      $0.00      $0.00      $0.00

[325 rows x 7 columns]

In [17]:
#Para bucket c1
pagos_bucket_c1 = pagos_extra.loc[pagos_extra['BUCKET']=='C1']
pivot_bucket_c1 = pd.pivot_table(pagos_bucket_c1,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c1 = pd.DataFrame(pivot_bucket_c1.to_records())
pivot_bucket_c1.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c1.fillna(0,inplace=True)
pivot_bucket_c1['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2017']]
pivot_bucket_c1['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2018']]
pivot_bucket_c1['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2019']]
pivot_bucket_c1['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c1['PAGO 2020']]
pivot_bucket_c1

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C1    1    1       $0.00   $3,072.00   $5,586.00     $300.00
1       C1    1    2       $0.00  $48,648.00  $22,736.00   $7,983.00
2       C1    1    3       $0.00  $15,951.00  $20,365.00  $13,715.00
3       C1    1    4       $0.00  $16,067.00  $21,373.00   $5,185.00
4       C1    1    5       $0.00  $40,247.00  $14,484.00  $15,937.00
..     ...  ...  ...         ...         ...         ...         ...
361     C1   12   27  $17,768.00   $8,866.00  $12,080.00   $3,475.00
362     C1   12   28  $39,580.00  $18,842.00  $14,972.00  $20,905.35
363     C1   12   29  $83,120.00  $33,254.00   $8,078.00  $41,254.00
364     C1   12   30  $68,724.00  $15,253.00  $46,002.00  $43,796.01
365     C1   12   31   $5,829.00  $20,916.00  $30,611.00  $52,872.43

[366 rows x 7 columns]

In [18]:
#Para bucket c2
pagos_bucket_c2 = pagos_extra.loc[pagos_extra['BUCKET']=='C2']
pivot_bucket_c2 = pd.pivot_table(pagos_bucket_c2,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c2 = pd.DataFrame(pivot_bucket_c2.to_records())
pivot_bucket_c2.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c2.fillna(0,inplace=True)
pivot_bucket_c2['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2017']]
pivot_bucket_c2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2018']]
pivot_bucket_c2['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2019']]
pivot_bucket_c2['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c2['PAGO 2020']]
pivot_bucket_c2

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C2    1    2       $0.00  $13,785.00  $19,012.00   $2,300.00
1       C2    1    3       $0.00  $11,735.00   $4,300.00  $30,450.00
2       C2    1    4       $0.00   $6,566.00   $2,877.00   $8,331.59
3       C2    1    5       $0.00  $15,517.00  $20,455.00   $1,539.00
4       C2    1    6       $0.00  $14,762.00       $0.00  $10,149.00
..     ...  ...  ...         ...         ...         ...         ...
360     C2   12   27  $30,536.00   $9,511.00   $7,300.00   $8,743.00
361     C2   12   28  $23,965.00  $17,592.00   $4,276.00  $25,946.00
362     C2   12   29  $52,520.98  $11,463.00   $2,000.00   $8,591.00
363     C2   12   30  $61,619.92  $15,286.00  $23,685.00  $58,497.00
364     C2   12   31   $4,206.00  $37,221.00  $26,450.00   $6,641.00

[365 rows x 7 columns]

In [19]:
#Para bucket c3
pagos_bucket_c3 = pagos_extra.loc[pagos_extra['BUCKET']=='C3']
pivot_bucket_c3 = pd.pivot_table(pagos_bucket_c3,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c3 = pd.DataFrame(pivot_bucket_c3.to_records())
pivot_bucket_c3.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c3.fillna(0,inplace=True)
pivot_bucket_c3['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2017']]
pivot_bucket_c3['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2018']]
pivot_bucket_c3['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2019']]
pivot_bucket_c3['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c3['PAGO 2020']]
pivot_bucket_c3

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018   PAGO 2019   PAGO 2020
0       C3    1    1       $0.00       $0.00   $2,558.00       $0.00
1       C3    1    2       $0.00  $17,423.00   $6,513.00   $1,530.00
2       C3    1    3       $0.00  $11,602.00  $17,226.00  $13,146.00
3       C3    1    4       $0.00   $1,143.00   $2,000.00   $2,614.00
4       C3    1    5       $0.00  $13,333.00   $1,500.00       $0.00
..     ...  ...  ...         ...         ...         ...         ...
361     C3   12   27   $1,982.00  $11,401.91     $877.00   $3,374.00
362     C3   12   28  $31,233.00   $5,029.00       $0.00   $5,184.00
363     C3   12   29  $26,164.00  $16,200.00       $0.00   $4,595.00
364     C3   12   30  $12,940.00  $11,911.00  $11,206.00   $3,420.00
365     C3   12   31       $0.00   $9,588.00   $8,547.00   $3,502.00

[366 rows x 7 columns]

In [20]:
#Para bucket c4
pagos_bucket_c4 = pagos_extra.loc[pagos_extra['BUCKET']=='C4']
pivot_bucket_c4 = pd.pivot_table(pagos_bucket_c4,index=['BUCKET','MONTH','DAY'],columns=['YEAR'],values=['PAGO'],aggfunc=['sum'])
pivot_bucket_c4 = pd.DataFrame(pivot_bucket_c4.to_records())
pivot_bucket_c4.columns = ['BUCKET','MES','DAY','PAGO 2017','PAGO 2018','PAGO 2019','PAGO 2020']
pivot_bucket_c4.fillna(0,inplace=True)
pivot_bucket_c4['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2017']]
pivot_bucket_c4['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2018']]
pivot_bucket_c4['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2019']]
pivot_bucket_c4['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_bucket_c4['PAGO 2020']]
pivot_bucket_c4

    BUCKET  MES  DAY   PAGO 2017   PAGO 2018  PAGO 2019  PAGO 2020
0       C4    1    1       $0.00       $0.00      $0.00    $529.00
1       C4    1    2       $0.00   $3,016.00  $1,545.00  $6,475.00
2       C4    1    3       $0.00   $1,320.00  $1,610.00  $2,635.00
3       C4    1    4       $0.00   $4,755.00      $0.00  $1,000.00
4       C4    1    5       $0.00   $5,237.00  $1,000.00      $0.00
..     ...  ...  ...         ...         ...        ...        ...
356     C4   12   27   $1,548.00   $4,010.00  $4,948.00  $1,179.00
357     C4   12   28  $17,264.00  $12,675.00      $0.00  $4,363.00
358     C4   12   29  $21,886.00   $7,852.00  $5,339.00  $1,418.00
359     C4   12   30  $12,982.00   $7,951.00  $4,090.00  $1,179.00
360     C4   12   31       $0.00   $7,624.00  $1,572.00  $8,316.83

[361 rows x 7 columns]

# Pagos Liverpool

In [163]:
pagos_liver['Fecha pago'] = pd.to_datetime(pagos_liver['Fecha pago'],dayfirst=True)
pagos_liver['Month'] = pagos_liver['Fecha pago'].dt.month
pagos_liver['Year'] = pagos_liver['Fecha pago'].dt.year
pagos_liver['Day'] = pagos_liver['Fecha pago'].dt.day
pagos_liver.head(3)

,Cuenta,Fecha pago,Fecha Posteo,monto,Descripcion,Division,Month,Year,Day
0,0004178490000277468,2020-01-02,02/01/2020,500.0,5200000000008917,N2,1,2020,2
1,0000013000020401514,2020-01-02,02/01/2020,3376.0,005200000000007275,N2,1,2020,2
2,0000033000008868151,2020-01-02,02/01/2020,14000.0,005200000000005261,N2,1,2020,2

In [166]:
#Para COF
pagos_cof = pagos_liver.loc[pagos_liver['Division']=='COF']
pivot_cof = pd.pivot_table(pagos_cof,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_cof = pd.DataFrame(pivot_cof.to_records())
pivot_cof.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_cof.fillna(0,inplace=True)
#pivot_cof['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2017']]
#pivot_cof['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2018']]
#pivot_cof['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2019']]
pivot_cof['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_cof['PAGO 2020']]
pivot_cof

   DIVISION  MES  DIA   PAGO 2020
0       COF    6   18   $5,900.00
1       COF    7    1   $1,600.00
2       COF    7    2  $11,600.00
3       COF    7    6     $500.00
4       COF    7    7   $4,591.00
..      ...  ...  ...         ...
95      COF   10   26   $2,868.50
96      COF   10   27  $10,594.00
97      COF   10   28  $33,445.77
98      COF   10   29  $24,791.00
99      COF   10   30  $38,741.00

[100 rows x 4 columns]

In [170]:
#Para pren N2
pagos_n2 = pagos_liver.loc[pagos_liver['Division']=='N2']
pivot_n2 = pd.pivot_table(pagos_n2,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_n2 = pd.DataFrame(pivot_n2.to_records())
pivot_n2.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_n2.fillna(0,inplace=True)
#pivot_n2['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_n2['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2019']]
pivot_n2['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2020']]
pivot_n2

    DIVISION  MES  DIA    PAGO 2020
0         N2    1    2   $24,796.00
1         N2    1    3   $24,399.00
2         N2    1    4   $11,383.00
3         N2    1    6    $2,000.00
4         N2    1    7   $10,283.00
..       ...  ...  ...          ...
287       N2   10   26   $21,513.50
288       N2   10   27   $76,280.00
289       N2   10   28   $61,644.00
290       N2   10   29   $54,036.00
291       N2   10   30  $135,036.00

[292 rows x 4 columns]

In [171]:
#Para pren PREN
pagos_pren = pagos_liver.loc[pagos_liver['Division']=='PREN']
pivot_pren = pd.pivot_table(pagos_pren,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_pren = pd.DataFrame(pivot_pren.to_records())
pivot_pren.columns = ['DIVISION','MES','DIA','PAGO 2019','PAGO 2020']
pivot_pren.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_pren['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2020']]
pivot_pren

    DIVISION  MES  DIA   PAGO 2019   PAGO 2020
0       PREN    1    2       $0.00  $24,332.00
1       PREN    1    3       $0.00  $15,616.43
2       PREN    1    4       $0.00  $18,621.00
3       PREN    1    5       $0.00   $5,447.00
4       PREN    1    6       $0.00  $62,202.00
..       ...  ...  ...         ...         ...
303     PREN   11    8       $0.00   $5,711.00
304     PREN   11    9       $0.00  $61,100.00
305     PREN   11   10       $0.00   $3,000.00
306     PREN   11   11       $0.00  $48,262.00
307     PREN   12   31  $28,599.00       $0.00

[308 rows x 5 columns]

In [172]:
#Para pren PREN
pagos_sub = pagos_liver.loc[pagos_liver['Division']=='SUB']
pivot_sub = pd.pivot_table(pagos_sub,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_sub = pd.DataFrame(pivot_sub.to_records())
pivot_sub.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_sub.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_sub['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_sub['PAGO 2020']]
pivot_sub

    DIVISION  MES  DIA   PAGO 2020
0        SUB    1    1   $1,055.00
1        SUB    1    2  $23,304.00
2        SUB    1    3  $13,257.00
3        SUB    1    4   $7,843.00
4        SUB    1    5   $6,997.00
..       ...  ...  ...         ...
279      SUB   10   26   $6,360.00
280      SUB   10   27  $20,460.34
281      SUB   10   28  $29,563.00
282      SUB   10   29   $7,410.00
283      SUB   10   30  $30,944.00

[284 rows x 4 columns]

In [173]:
#Para pren PREN
pagos_subdic = pagos_liver.loc[pagos_liver['Division']=='SUBDIC']
pivot_subdic = pd.pivot_table(pagos_subdic,index=['Division','Month','Day'],columns=['Year'],values=['monto'],aggfunc=['sum'])
pivot_subdic = pd.DataFrame(pivot_subdic.to_records())
pivot_subdic.columns = ['DIVISION','MES','DIA','PAGO 2020']
pivot_subdic.fillna(0,inplace=True)
#pivot_pren['PAGO 2017'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2017']]
#pivot_n2['PAGO 2018'] = ['${:,.2f}'.format(x) for x in pivot_n2['PAGO 2018']]
#pivot_pren['PAGO 2019'] = ['${:,.2f}'.format(x) for x in pivot_pren['PAGO 2019']]
pivot_subdic['PAGO 2020'] = ['${:,.2f}'.format(x) for x in pivot_subdic['PAGO 2020']]
pivot_subdic

   DIVISION  MES  DIA  PAGO 2020
0    SUBDIC    1    3  $3,600.00
1    SUBDIC    1    4  $3,526.22
2    SUBDIC    1    5  $3,319.00
3    SUBDIC    1   21  $2,000.00
4    SUBDIC    1   22  $4,374.00
..      ...  ...  ...        ...
81   SUBDIC   10   19  $2,000.00
82   SUBDIC   10   20  $1,000.00
83   SUBDIC   10   23  $3,081.00
84   SUBDIC   10   29    $500.00
85   SUBDIC   10   30  $7,963.00

[86 rows x 4 columns]

In [21]:
writer = pd.ExcelWriter(''+ruta+'/Reporte pagos Bradesco '+mes2+'.xlsx', engine='xlsxwriter')
pivot_mes.to_excel(writer,'C0 '+mes2+'',index=False,header=True)
pivot_4pv.to_excel(writer,'4PV',index=False,header=True)
pivot_5pv.to_excel(writer,'5PV',index=False,header=True)
pivot_6pv.to_excel(writer,'6PV',index=False,header=True)
pivot_bucket_a.to_excel(writer,'A',index=False,header=True)
pivot_bucket_b.to_excel(writer,'B',index=False,header=True)
pivot_bucket_c1.to_excel(writer,'C1',index=False,header=True)
pivot_bucket_c2.to_excel(writer,'C2',index=False,header=True)
pivot_bucket_c3.to_excel(writer,'C3',index=False,header=True)
pivot_bucket_c4.to_excel(writer,'C4',index=False,header=True)

writer.save()
writer.close()

In [175]:
writer = pd.ExcelWriter(''+ruta+'Reporte pagos Liverpool Dic.xlsx', engine='xlsxwriter')
pivot_cof.to_excel(writer,'COF',index=False,header=True)
pivot_n2.to_excel(writer,'N2',index=False,header=True)
pivot_pren.to_excel(writer,'PREN',index=False,header=True)
pivot_sub.to_excel(writer,'SUB',index=False,header=True)
pivot_subdic.to_excel(writer,'SUBDIC',index=False,header=True)

writer.save()
writer.close()