In [9]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
from datetime import date
from datetime import datetime
import ConeccionesSucursales as cs

In [12]:
carta = cs.query_torreon('select * from carta LIMIT 10')
carta.head(1)

,id_carta,id_credito,fecha_carta,tipo_carta,tipo_envio,codigo_gestor,saldo_actual,modificado
0,1,1234,2017-02-02,dura,None,SIS,2000.0,2017-02-02 20:13:01

In [13]:
query_cristianlay = cs.query_torreon('select * from Cristianlay LIMIT 10')
query_cristianlay.head(1)

,Codigo,Nombre,DNI,Direccion,Poblacion,CP,Comuna,Provincia,DirEntrega,PobEntrega,CPEnt,ComunaEnt,TelPer,TelCon,EMail,UltFactura,UltPago,Saldo,Referencia,Codigo2
0,102709.0,CARDENAS REYES CESAR OMAR,CARC,ALONSO DE PACHECO # 205,DURANGO,34080.0,NUEVA VIZCAYA,DGO,NaN,None,None,None,NaN,6.188298e+09,None,2018-03-24,2018-05-05,599.8374,102709 026726 3,CL-102709

In [15]:
cat_acciones = cs.query_torreon('select * from cat_acciones LIMIT 10')
cat_acciones.head(1)

  id_accion cod_accion          desc_accion cod_etapa activo modificado
0         1       AC01  LLAMADA SALIDA - MX        LS      Y       None

In [16]:
cat_addicionales = cs.query_torreon('select * from cat_addicionales LIMIT 10')
cat_addicionales.head(1)

  id_cat_adicionales id_adicional nombre_campo etiqueta cartera
0                  1           23        werer     erer    erer

In [20]:
reportesSql = cs.query_torreon('select * from reportesSql LIMIT 10')
reportesSql.head(1)

,id_reporte,nombre,descripcion,imagen,url,icono
0,5,GRAFICA CONVENIOS,Convenios de gestores dentro de un rango de fe...,rththrt,http://192.168.2.178:3000/public/question/89b9...,glyphicon glyphicon-file

In [41]:
criterio = '202-10-14'
query = "SELECT * FROM monitoreo WHERE fecha = '%s' LIMIT 10" % criterio
monitoreo = cs.query_torreon(query)
monitoreo.head()

ValueError: Length mismatch: Expected axis has 0 elements, new values have 57 elements

In [39]:
criterio = '2018-10-18'
query = "SELECT * FROM monitoreo LIMIT 10"
monitoreo = cs.query_torreon(query)
monitoreo.head()

,id_validacion,analista,cod_analista,turno,supervisor,fecha,semana,campanna,nombre_gestor,cod_gestor,...,realiza_script,realiza_script_desc,codifica_registro,codifica_registro_desc,ev,area_oportunidad,linea_captura,fortalezas,usuario_mod,modificado
0,1,sdsd,fff,gg,gg,NaT,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,25,None,SIS,MATUTINO,None,2018-10-14,SEMANA 1,sdsd,PANCHO PISTOLAS,PANCHO,...,10,SI CUMPLE,10,SI CUMPLE,0,PRUEBA,None,None,None,None
2,26,None,SIS,MATUTINO,None,2018-10-15,SEMANA 2,CAMPA,PANCHO PISTOLAS,PANCHO,...,10,SI CUMPLE,10,SI CUMPLE,100,Prueba de comentarios,None,None,None,None
3,27,None,SIS,MATUTINO,None,2018-10-16,SEMANA 1,CAMPA,PANCHO PISTOLAS,PANCHO,...,10,SI CUMPLE,10,SI CUMPLE,100,Esta es una prueba de area de oportunidad,None,None,None,None
4,28,None,SIS,MATUTINO,None,2018-10-16,SEMANA 2,CAMPA,PANCHO PISTOLAS,PANCHO,...,10,SI CUMPLE,10,SI CUMPLE,0,Lamantablemente tuvo errores,None,None,None,None