In [18]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime
import datetime as dt
import xlrd
from xlrd.xldate import xldate_as_tuple

In [19]:
ruta = '/home/estadistico/Documents/Erick/'
ruta_brad = '/home/estadistico/Documents/Erick/Bradesco/'
ruta_liver = '/home/estadistico/Documents/Erick/Liverpool/Pagos/'
mes = 'Enero2021'

# Bradesco

In [20]:
#Leemos asignacion Bradesco c0
files_c0 = ['ASIGNACION C0 Diciembre2020','ASIGNACION C0 Noviembre2020','ASIGNACION C0 Enero2021']
asignacion_c0 = pd.DataFrame()
for i in files_c0:
    asig_c0_new = pd.read_excel(''+ruta_brad+'/Asignacion_c0/'+i+'.xlsx')
    asignacion_c0 = pd.concat([asignacion_c0,asig_c0_new],ignore_index=True)
asig_c0_new = pd.read_excel(''+ruta_brad+'/Asignacion_c0/ASIGNACION C0 2020.xlsx')
asignacion_c0 = pd.concat([asignacion_c0,asig_c0_new],ignore_index=True)
asignacion_c0 = asignacion_c0.drop_duplicates()

In [21]:
#Leemos asignacion Bradesco extrajudicial
files_extra = ['Asignacion Extra Enero2021','Asignacion Extra Diciembre2020','Asignacion Extra Noviembre2020','Asignacion Extra Octubre2020','Asignacion Extra Septiembre2020','Asignacion Extra Agosto2020','Asignacion Extra Julio2020','Asignacion Extra Junio2020','Asignacion Extra Mayo2020','Asignacion Extra Abril2020','Asignacion Extra Marzo2020','Asignacion Extra Febrero2020','Asignacion Extra Enero2020']
meses_extra = ['01/01/2021','01/12/2020','01/11/2020','01/10/2020','01/09/2020','01/08/2020','01/07/2020','01/06/2020','01/05/2020','01/04/2020','01/03/2020','01/02/2020','01/01/2020']
asignacion_extra = pd.DataFrame()
for j,k in zip(files_extra,meses_extra):
    asig_extra_new = pd.read_csv(''+ruta_brad+'/Asignacion_extra/CSV/'+j+'.csv',error_bad_lines=False,encoding = "ISO-8859-1", engine='python')
    asig_extra_new['MES'] = k
    asignacion_extra = pd.concat([asignacion_extra,asig_extra_new],ignore_index=True)
    print(j)
asignacion_extra = asignacion_extra.drop_duplicates()

Asignacion Extra Enero2021
Asignacion Extra Diciembre2020
Asignacion Extra Noviembre2020
Asignacion Extra Octubre2020
Asignacion Extra Septiembre2020
Asignacion Extra Agosto2020
Asignacion Extra Julio2020
Asignacion Extra Junio2020
Asignacion Extra Mayo2020
Asignacion Extra Abril2020
Asignacion Extra Marzo2020
Asignacion Extra Febrero2020
Asignacion Extra Enero2020

In [22]:
#Vemos cuanta cartera tenemos por cada mes del a単o c0
asignacion_c0['PAGOSVENCIDOS'] = asignacion_c0['PAGOSVENCIDOS'].replace('C0 4 PV','C0 4PV')
cartera_mes_c0 = pd.pivot_table(asignacion_c0,index=['MES ASIGNACION'],columns=['PAGOSVENCIDOS'],values=['SALDO_TOTAL'],aggfunc=['count'])
cartera_mes_c0 = pd.DataFrame(cartera_mes_c0.to_records())
cartera_mes_c0 = cartera_mes_c0.iloc[[0,2,3,4,5,6,7,8,9,10,11,1,12],:]
meses_c0 = ['ENERO 2020','FEBRERO 2020','MARZO 2020','ABRIL 2020','MAYO 2020','JUNIO 2020','JULIO 2020','AGOSTO 2020','SEPTIEMBRE 2020','OCTUBRE 2020','NOVIEMBRE 2020','DICIEMBRE 2020','ENERO 2021']
cartera_mes_c0.columns = ['FECHA','C0 4PV','C0 5PV','C0 6PV']
cartera_mes_c0['MES'] = meses_c0
cartera_mes_c0 = cartera_mes_c0.iloc[:,[4,1,2,3]]
cartera_mes_c0

                MES  C0 4PV  C0 5PV  C0 6PV
0        ENERO 2020    6208    5498    4891
2      FEBRERO 2020    6253    5728    5255
3        MARZO 2020    5439    5715    5379
4        ABRIL 2020    5791    5039    4952
5         MAYO 2020    7748    5780    5052
6        JUNIO 2020    9222    7440    5614
7        JULIO 2020   12178    8597    7033
8       AGOSTO 2020   11424   11231    7799
9   SEPTIEMBRE 2020    7055   10369    9985
10     OCTUBRE 2020    4957    6580    9742
11   NOVIEMBRE 2020    4215    4650    6193
1    DICIEMBRE 2020    4382    3861    4166
12       ENERO 2021    4102    3954    3660

In [23]:
#Vemos el total de credito a recuperar
credito_mes_c0 = pd.pivot_table(asignacion_c0,index=['MES ASIGNACION'],columns=['PAGOSVENCIDOS'],values=['SALDO_TOTAL'],aggfunc=np.sum)
credito_mes_c0 = pd.DataFrame(credito_mes_c0.to_records())
credito_mes_c0 = credito_mes_c0.iloc[[0,2,3,4,5,6,7,8,9,10,11,1,12],:]
#meses_c0 = ['ENERO 2020','FEBRERO 2020','MARZO 2020','ABRIL 2020','MAYO 2020','JUNIO 2020','JULIO 2020','AGOSTO 2020','SEPTIEMBRE 2020','OCTUBRE 2020','NOVIEMBRE 2020','DICIEMBRE 2020','ENERO 2021']
credito_mes_c0.columns = ['FECHA','C0 4PV','C0 5PV','C0 6PV']
credito_mes_c0['MES'] = meses_c0
credito_mes_c0 = credito_mes_c0.iloc[:,[4,1,2,3]]
credito_mes_c0

                MES       C0 4PV       C0 5PV       C0 6PV
0        ENERO 2020  29443733.33  29957868.03  30304442.69
2      FEBRERO 2020  29727499.82  27630535.41  33272599.97
3        MARZO 2020  25831408.14  31763702.53  34451768.98
4        ABRIL 2020  28094712.19  27565405.91  32249328.45
5         MAYO 2020  38589227.76  32833526.43  31931454.36
6        JUNIO 2020  45574165.33  42704328.26  36145100.55
7        JULIO 2020  61803433.53  49734902.48  46798490.22
8       AGOSTO 2020  57452547.88  66680359.95  53197950.06
9   SEPTIEMBRE 2020  35351507.49  61319139.51  63430470.17
10     OCTUBRE 2020  26675353.91  38056759.58  66416505.76
11   NOVIEMBRE 2020  23460670.81  29168592.62  41744050.92
1    DICIEMBRE 2020  27485180.79  25229286.83  31052050.85
12       ENERO 2021  22583520.73  29185194.97  27719153.52

In [24]:
#Vemos el total de credito a recuperar
pago_des_c0 = pd.pivot_table(asignacion_c0,index=['MES ASIGNACION'],columns=['PAGOSVENCIDOS'],values=['PAGO_DESCUENTO'],aggfunc=np.sum)
pago_des_c0 = pd.DataFrame(pago_des_c0.to_records())
pago_des_c0 = pago_des_c0.iloc[[0,2,3,4,5,6,7,8,9,10,11,1,12],:]
#meses_c0 = ['ENERO 2020','FEBRERO 2020','MARZO 2020','ABRIL 2020','MAYO 2020','JUNIO 2020','JULIO 2020','AGOSTO 2020','SEPTIEMBRE 2020','OCTUBRE 2020','NOVIEMBRE 2020','DICIEMBRE 2020','ENERO 2021']
pago_des_c0.columns = ['FECHA','C0 4PV','C0 5PV','C0 6PV']
pago_des_c0['MES'] = meses_c0
pago_des_c0 = pago_des_c0.iloc[:,[4,1,2,3]]
pago_des_c0

                MES       C0 4PV      C0 5PV      C0 6PV
0        ENERO 2020  20006551.50  18869302.0  17171518.0
2      FEBRERO 2020  20228846.50  17395068.0  18805207.0
3        MARZO 2020  17469789.00  19996152.0  19406172.0
4        ABRIL 2020  17331156.00  15823018.0  17331932.0
5         MAYO 2020  23511320.00  17816562.0  13675697.0
6        JUNIO 2020  28155175.00  23904854.0  17018041.0
7        JULIO 2020  38468590.00  26903506.0  20277694.0
8       AGOSTO 2020  36075092.00  37481956.0  24177670.0
9   SEPTIEMBRE 2020  18372949.00  28647206.0  25220743.0
10     OCTUBRE 2020  17527755.61  23129046.0  35691758.0
11   NOVIEMBRE 2020  13630147.00  14483711.0  17863844.0
1    DICIEMBRE 2020  17673181.00  14092933.0  14521200.0
12       ENERO 2021  15810512.00  18972385.0  16633747.0

In [25]:
#Vemos cuanta cartera tenemos por cada mes del a単o extra
cartera_mes_extra = pd.pivot_table(asignacion_extra,index=['MES'],columns=['TIPO_ASIGNACION'],values=['SALDO TOTAL'],aggfunc=['count'])
cartera_mes_extra = pd.DataFrame(cartera_mes_extra.to_records())
cartera_mes_extra.columns = ['MES','A','B','C1','C2','C3','C4']
cartera_mes_extra = cartera_mes_extra.iloc[[0,2,3,4,5,6,7,8,9,10,11,12,1],:]
cartera_mes_extra['MES'] = meses_c0
cartera_mes_extra

                MES       A      B     C1     C2     C3     C4
0        ENERO 2020  127071  24932  10831  12971  11982  11869
2      FEBRERO 2020  122776  26750  10284  12054  11853  11495
3        MARZO 2020  126089  27989  10819  11093  12662  11131
4        ABRIL 2020  130955  28437  11249   9860  13895  10881
5         MAYO 2020  126530  28678  11621   9863  13389  11461
6        JUNIO 2020  130365  29237  11972  10523  12455  12289
7        JULIO 2020  133639  29643  11924  11084  11002  13321
8       AGOSTO 2020  129182  30660  12875  11587  10910  12725
9   SEPTIEMBRE 2020  132324  32395  14929  11289  11404  11572
10     OCTUBRE 2020  134118  33219  15710   9928  12075  10317
11   NOVIEMBRE 2020  128096  31798  15978   9563   8225   6647
12   DICIEMBRE 2020  129184  30860  14567  11028   7937   6890
1        ENERO 2021  131218  30369  11156  13373   7864   7191

In [26]:
#Vemos cuanta cartera tenemos por cada mes del a単o extra
credito_mes_extra = pd.pivot_table(asignacion_extra,index=['MES'],columns=['TIPO_ASIGNACION'],values=['SALDO TOTAL'],aggfunc=[np.sum])
credito_mes_extra = pd.DataFrame(credito_mes_extra.to_records())
credito_mes_extra.columns = ['MES','A','B','C1','C2','C3','C4']
credito_mes_extra = credito_mes_extra.iloc[[0,2,3,4,5,6,7,8,9,10,11,12,1],:]
#cols = ['DICIEMBRE2020','ENERO2021']
#credito_mes_extra[cols] = credito_mes_extra[cols].round()
credito_mes_extra['MES'] = meses_c0
credito_mes_extra

,MES,A,B,C1,C2,C3,C4
0,ENERO 2020,1.712888e+09,3.286758e+08,8.786457e+07,1.516740e+08,1.584226e+08,1.561599e+08
2,FEBRERO 2020,1.655432e+09,3.496993e+08,8.364531e+07,1.432861e+08,1.612293e+08,1.513869e+08
3,MARZO 2020,1.701849e+09,3.658305e+08,8.901725e+07,1.342749e+08,1.727920e+08,1.486758e+08
4,ABRIL 2020,1.764242e+09,3.756958e+08,9.422243e+07,1.199038e+08,1.913782e+08,1.472686e+08
5,MAYO 2020,1.704563e+09,3.793535e+08,9.746133e+07,1.198663e+08,1.892875e+08,1.565301e+08
6,JUNIO 2020,1.749852e+09,3.860837e+08,1.017508e+08,1.282919e+08,1.775729e+08,1.684714e+08
7,JULIO 2020,1.791789e+09,3.958634e+08,1.014625e+08,1.374690e+08,1.586704e+08,1.820641e+08
8,AGOSTO 2020,1.737349e+09,4.093047e+08,1.080939e+08,1.475570e+08,1.589695e+08,1.792416e+08
9,SEPTIEMBRE 2020,1.775266e+09,4.349413e+08,1.283822e+08,1.434559e+08,1.673127e+08,1.648551e+08
10,OCTUBRE 2020,1.797755e+09,4.501688e+08,1.404167e+08,1.284225e+08,1.791097e+08,1.489979e+08
11,NOVIEMBRE 2020,1.710648e+09,4.365053e+08,1.434309e+08,1.235793e+08,1.232652e+08,9.783109e+07
12,DICIEMBRE 2020,1.734602e+09,4.301722e+08,1.376041e+08,1.457288e+08,1.202071e+08,1.029411e+08
1,ENERO 2021,1.760163e+09,4.299443e+08,1.084211e+08,1.831829e+08,1.188234e+08,1.094003e+08

In [27]:
#Vemos cuanta cartera tenemos por cada mes del a単o extra
pago_descuento_extra = pd.pivot_table(asignacion_extra,index=['MES'],columns=['TIPO_ASIGNACION'],values=['PAGO_DESCUENTO'],aggfunc=[np.sum])
pago_descuento_extra = pd.DataFrame(pago_descuento_extra.to_records())
pago_descuento_extra.columns = ['MES','A','B','C1','C2','C3','C4']
pago_descuento_extra = pago_descuento_extra.iloc[[0,2,3,4,5,6,7,8,9,10,11,12,1],:]
#cols = ['DICIEMBRE2020','ENERO2021']
#pago_descuento_extra[cols] = pago_descuento_extra[cols].round()
pago_descuento_extra['MES'] = meses_c0
pago_descuento_extra

,MES,A,B,C1,C2,C3,C4
0,ENERO 2020,8.564440e+07,1.643379e+07,3.793779e+07,4.459327e+07,1.539866e+07,1.557140e+07
2,FEBRERO 2020,8.277165e+07,1.748497e+07,3.595922e+07,4.203155e+07,1.545869e+07,1.501983e+07
3,MARZO 2020,8.509248e+07,1.829153e+07,3.817191e+07,3.936904e+07,1.636438e+07,1.459780e+07
4,ABRIL 2020,8.821211e+07,1.878480e+07,3.947803e+07,3.439515e+07,1.910414e+07,1.426893e+07
5,MAYO 2020,8.522819e+07,1.896768e+07,3.417577e+07,3.099606e+07,9.464380e+06,7.829552e+06
6,JUNIO 2020,8.749262e+07,1.930419e+07,3.781044e+07,3.474284e+07,8.878648e+06,8.426620e+06
7,JULIO 2020,8.958951e+07,1.979318e+07,3.520205e+07,3.556363e+07,7.933521e+06,9.106254e+06
8,AGOSTO 2020,8.686751e+07,2.046524e+07,3.822546e+07,3.849535e+07,7.948477e+06,8.965131e+06
9,SEPTIEMBRE 2020,8.876333e+07,2.174707e+07,3.749130e+07,2.935922e+07,8.365640e+06,8.245802e+06
10,OCTUBRE 2020,8.995504e+07,2.252578e+07,5.661302e+07,3.706274e+07,1.791699e+07,1.490497e+07
11,NOVIEMBRE 2020,8.553287e+07,2.182598e+07,4.632661e+07,2.708029e+07,1.232652e+07,4.891556e+06
12,DICIEMBRE 2020,8.673014e+07,2.150932e+07,5.026947e+07,3.791186e+07,6.010358e+06,5.147056e+06
1,ENERO 2021,8.800818e+07,2.149793e+07,4.878632e+07,5.568108e+07,1.188235e+07,1.094003e+07

In [28]:
cartera_brad = pd.merge(cartera_mes_c0,cartera_mes_extra,on=['MES'],how='left')
credito_brad = pd.merge(credito_mes_c0,credito_mes_extra,on=['MES'],how='left')
pago_desc_brad = pd.merge(pago_des_c0,pago_descuento_extra,on=['MES'],how='left')

In [29]:
cartera_brad['TOTAL'] =

SyntaxError: invalid syntax (<ipython-input-29-ab6c28694422>, line 1)

# Liverpool

In [12]:
#Leemos asignaciones
arch_liv_asig = ['Asignacion ENERO2020','Asignacion FEBRERO2020','Asignacion MARZO2020','Asignacion ABRIL2020','Asignacion MAYO2020','Asignacion JUNIO2020','Asignacion JULIO2020','Asignacion AGOSTO2020','Asignacion SEPTIEMBRE2020','Asignacion OCTUBRE2020','Asignacion Noviembre2020','Asignacion Diciembre2020','Asignacion Enero2021']
meses_liv = ['01/01/2020','01/02/2020','01/03/2020','01/04/2020','01/05/2020','01/06/2020','01/07/2020','01/08/2020','01/09/2020','01/10/2020','01/11/2020','01/12/2020','01/01/2021']
dtype_dic = {'# CUENTA':str}
asignaciones_liv = pd.DataFrame()
for j,k in zip(arch_liv_asig,meses_liv):
    asignacion = pd.read_csv(''+ruta+'Liverpool/Asignacion/Asignaciones csv/'+j+'.csv',encoding = "ISO-8859-1", engine='python',dtype=dtype_dic)
    asignacion['MES'] = k
    asignaciones_liv = pd.concat([asignaciones_liv,asignacion],ignore_index=True)
    print(j)

Asignacion ENERO2020
Asignacion FEBRERO2020
Asignacion MARZO2020
Asignacion ABRIL2020
Asignacion MAYO2020
Asignacion JUNIO2020
Asignacion JULIO2020
Asignacion AGOSTO2020
Asignacion SEPTIEMBRE2020
Asignacion OCTUBRE2020
Asignacion Noviembre2020
Asignacion Diciembre2020

In [30]:
# Vemos volumen cartera Liverpool
cartera_liver = pd.pivot_table(asignaciones_liv,index=['MES'],columns=['ID AGENCIA'],values=['SALDO ACTUAL'],aggfunc=['count'])
cartera_liver = pd.DataFrame(cartera_liver.to_records())
cartera_liver = cartera_liver.iloc[[0,2,3,4,5,6,7,8,9,10,11,12,1],:]
cartera_liver.columns = ['MESASIG','DKN00REM','DKN02REM','DKN04REM','SA001REM','SA002REM']
cartera_liver['MES'] = meses_c0
cartera_liver = cartera_liver.iloc[:,[6,1,2,4,5,3]]
cartera_liver

ERROR! Session/line number was not unique in database. History logging moved to new session 815

IndexError: positional indexers are out-of-bounds

In [ ]:
# Vemos volumen cartera Liverpool
credito_liver = pd.pivot_table(asignaciones_liv,index=['MES'],columns=['ID AGENCIA'],values=['SALDO ACTUAL'],aggfunc=[np.sum])
credito_liver = pd.DataFrame(credito_liver.to_records())
credito_liver = credito_liver.iloc[[0,2,3,4,5,6,7,8,9,10,11,12,1],:]
credito_liver.columns = ['MESASIG','DKN00REM','DKN02REM','DKN04REM','SA001REM','SA002REM']
credito_liver['MES'] = meses_c0
credito_liver = credito_liver.iloc[:,[6,1,2,4,5,3]]
credito_liver

# Credifiel

In [13]:
#Leemos asignaciones
arch_cred_asig = ['Asignacion Credifiel2020']
asignacion_cred = pd.DataFrame()
for j in arch_cred_asig:
    asignacion = pd.read_excel(''+ruta+'Credifiel/Asignacion/'+j+'.xlsx')
    asignacion_cred = pd.concat([asignacion_cred,asignacion],ignore_index=True)
    print(j)

Asignacion Credifiel2020

In [14]:
cartera_cred = pd.pivot_table(asignacion_cred,index=['MES'],values=['SALDO TOTAL'],aggfunc=['count'])
cartera_cred = pd.DataFrame(cartera_cred.to_records())
#cartera_cred = cartera_cred.iloc[[]:,]
meses_cred = ['FEBRERO 2020','MARZO 2020','ABRIL 2020','MAYO 2020','JUNIO 2020','JULIO 2020','AGOSTO 2020','SEPTIEMBRE 2020','OCTUBRE 2020','NOVIEMBRE 2020','DICIEMBRE 2020']
cartera_cred.columns = ['MES','VOLUMEN']
cartera_cred['MES'] = meses_cred
cartera_cred

                MES  VOLUMEN
0      FEBRERO 2020     8146
1        MARZO 2020     7604
2        ABRIL 2020    10500
3         MAYO 2020    15223
4        JUNIO 2020    15967
5        JULIO 2020    12182
6       AGOSTO 2020    10697
7   SEPTIEMBRE 2020    13899
8      OCTUBRE 2020     8115
9    NOVIEMBRE 2020     9041
10   DICIEMBRE 2020     8958

In [15]:
credito_cred = pd.pivot_table(asignacion_cred,index=['MES'],values=['SALDO TOTAL'],aggfunc=[np.sum])
credito_cred = pd.DataFrame(credito_cred.to_records())
#credito_cred = credito_cred.iloc[[]:,]
credito_cred.columns = ['MES','CREDITO TOTAL']
credito_cred['MES'] = meses_cred
credito_cred

                MES  CREDITO TOTAL
0      FEBRERO 2020   2.213717e+08
1        MARZO 2020   2.794371e+08
2        ABRIL 2020   3.024323e+08
3         MAYO 2020   4.441331e+08
4        JUNIO 2020   4.790833e+08
5        JULIO 2020   4.447160e+08
6       AGOSTO 2020   3.777587e+08
7   SEPTIEMBRE 2020   4.080490e+08
8      OCTUBRE 2020   3.052498e+08
9    NOVIEMBRE 2020   3.601791e+08
10   DICIEMBRE 2020   3.345414e+08

In [17]:
writer = pd.ExcelWriter(''+ruta+'/'+mes+'/Comparacion cartera '+mes+'.xlsx', engine='xlsxwriter')
cartera_brad.to_excel(writer,'VolumenBrad',index=False,header=True)
credito_brad.to_excel(writer,'SaldoTotalBrad',index=False,header=True)
pago_desc_brad.to_excel(writer,'PagoDescBrad',index=False,header=True)
cartera_liver.to_excel(writer,'VolumenLiver',index=False,header=True)
credito_liver.to_excel(writer,'SaldoTotalLiver',index=False,header=True)
cartera_cred.to_excel(writer,'VolumenCred',index=False,header=True)
credito_cred.to_excel(writer,'SaldoTotalCred',index=False,header=True)

writer.save()
writer.close()